# IDEs
.idea
.metals
.vscode
project/metals.sbt
sbt-launch.jar

# build-related
.bsp
.bloop
target
*.scala.semanticdb

*.iml

# silex and scallion

silex/*
scallion/*

# caching of theorems
cache

# emacs backup files
*~
hol-import/project/project/metals.sbt
hol-import/project/metals.sbt
project/project/metals.sbt
