# IDEs
.idea
.metals
.vscode
*/metals.sbt

# build-related
.bsp
.bloop
target
*.scala.semanticdb

*.iml

# silex and scallion

silex/*
scallion/*

# caching of theorems
cache

# emacs backup files
*~

# data extracted
data_extract

# TPTP data
lisa-utils/src/main/resources
