name: LISA CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - name: Compile
        run: sbt compile
      - name: Run tests
        run: sbt test
      - name: Check style
        run: sbt "scalafixAll --check"
      - name: Check format
        run: sbt scalafmtCheckAll
      - name: Compile sets
        run: sbt "lisa-sets / compile"
      - name: Compile examples
        run: sbt "lisa-examples / compile"
	  - name: Run all theorems
	    run: ./runAll.sh
